* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #00728c, #00a8ff,#3dc9c0, #23d5ab);
  background-size: 400% 400%;
	animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

line {
  height: 80%;
  width: 1px;
  background-color: white;
}

h1{
  color: white;
  font-size: 50px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

h3{
  color: white;
  font-size: 100px;
  font-weight: 300;
}

form{
  width: 50vw;
  height: 50vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

p{
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

form div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul{
  list-style-type: none;
  color: white;
  font-size: 25px;
}


